# ─── Python: кэш и временные файлы ────────────────────────
__pycache__/
*.py[cod]

# ─── Виртуальное окружение ────────────────────────────────
venv/
.venv/

# ─── Конфигурационные файлы IDE (PyCharm, VS Code и др.) ──
.idea/
.vscode/

# ─── Файлы среды и секреты ────────────────────────────────
.env

# ─── Логи и временные дампы ───────────────────────────────
*.log

# ─── Локальное тестирование ───────────────────────────────
test
envs